:root {
    --main-black: rgb(44, 51, 51);
    --main-blue: rgb(57, 91, 100);
    --main-light-blue: rgb(165, 201, 202);
    --main-white: rgb(165, 201, 202);
}

.boton{
    float: right;
    margin-left: 90%;
    background: none;
    color: white;
    border: .1px solid var(--main-white);
    text-align: end;
}

.boton:hover{
   border: .1px solid var(--main-white);
   float: none;

}

 /* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .boton{
        float: none;
        width: 3rem;
        margin: auto;
        text-align: center;
        padding: 0.5rem;
    }
 }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .boton{
        width: 90%;
        float: none;
        margin: auto;
        text-align: center;
        padding: 0.5rem;
    }
 }

 /* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    .boton{
        float: none;
        margin-left: auto;
        text-align: center;
        padding: 0.5rem;
    }
 }

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    
 }

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { 
    
 }