:root {
    --main-black: rgb(44, 51, 51);
    --main-blue: rgb(57, 91, 100);
    --main-light-blue: rgb(165, 201, 202);
    --main-white: rgb(165, 201, 202);
}


nav {
    background: #2C3333;
    padding: 100px;
    
}

.text {
    color:aliceblue;
}
.text:hover{
    color: var(--main-blue) !important;
}
.img {
    height: 50px;
}

.bgColorDropdown{
    background-color: var(--main-blue);
}
.butonIniciar{
    border: solid var(--main-white);
    width: 8rem;
}
.butonIniciar:hover{
    border: solid var(--main-light-blue);
    background-color: var(--main-white);
}

.buton{
    border: solid white;
    background-color: var(--main-blue);
}

.buton:hover{
    border: solid white;
}

 /* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .botonesRegistoIniciasSesion{
        display: flex;
        padding: 0;
    }
    .butonsBuscador{
        flex-direction: column-reverse;
        padding-top: 0;
    }
 }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    
 }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 

 }

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

 }

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { 

 }