:root {
    --main-black: rgb(44, 51, 51);
    --main-blue: rgb(57, 91, 100);
    --main-light-blue: rgb(165, 201, 202);
    --main-white: rgb(165, 201, 202);
}

footer{
    margin-top: auto !important;
}
.footer {
    background-color: #2C3333;
    background-color: var(--main-blue);
}


.img{
    height: 60px;
}
.text {
    color:aliceblue;
    text-decoration: none;
    padding-top: 1rem;
}
