:root {
    --main-black: rgb(44, 51, 51);
    --main-blue: rgb(57, 91, 100);
    --main-light-blue: rgb(165, 201, 202);
    --main-white: rgb(165, 201, 202);
}

body{
    display: flex;
    flex-direction: column;
    min-height: 000vh !important
}
.formStyles{
    background-color: var(--main-blue);
    border-radius: 0.3rem;
    margin-top: 3rem;
    color: white;
    margin-bottom: 13.1rem !important;
}

.btnIniciarSesion{
   background-color: var(--main-white);
}

form input{
    background-color: var(--main-black);
    color: var(--main-black);
}

